.app__row_products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

  .app__column_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 200px;
    background-color: var(--primary-color);
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .app__column_icon {
    background: #1acc8d;
    font-size: 50px;
    padding: 5px;
    color: white;
    border-radius: 50%;
    line-height: 0px;
  }
}

.app__profile-products {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  img {
    width: 350px;
    height: 240px;
    object-fit: cover;
  }

  h4 {
    margin-top: 5px;
  }

  p {
    text-align: justify;
  }

  &:hover {
    scale: 1.1;
    // cursor: zoom-in;
  }
}

.app__text_products {
  display: flex;
  width: 100%;
  margin: 2rem;
  h2 {
    font-size: 2rem;
  }
}
